# Environnement virtuel
venv/

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Données volumineuses (optionnel)
# data/prices.csv

# Fichiers système
.DS_Store
Thumbs.db

# VSCode
.vscode/